# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [58]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [59]:
chipo = pd.read_csv(url, delimiter='\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [60]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [61]:
# Solution 1
num_rows = chipo.shape[0]
print("Total number of rows:", num_rows)

Total number of rows: 4622

### Step 6. What is the number of columns in the dataset?

In [62]:
# Solution 2

num_cols = chipo.shape[1]
print("Total number of columns:", num_cols)

Total number of columns: 5

### Step 7. Print the name of all the columns.

In [63]:
for i in chipo.columns:
    print (i)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [64]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [65]:
#step 1, group by 'item_name' and aggregate the total quantity ordered
item_quantity = chipo.groupby('item_name')['quantity'].sum()

In [66]:
# step 2, sort the aggregated data in dscending order based on total quantity
item_quantity_sorted = item_quantity.sort_values(ascending=False)

In [67]:
# step 3, get the item with the hgihest total quantity, i.e the most ordered
most_ordered_item = item_quantity_sorted.index[0]

In [68]:
print("The most ordered item is: ", most_ordered_item)

The most ordered item is:  Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [69]:
# Filter the DataFrame to include only rows where 'item_name' matches the most_ordered_item
most_ordered_item_data = chipo[chipo['item_name'] == most_ordered_item]

In [70]:
# Sum the 'quantity' column to find out how many were ordered
quantity_ordered_most_ordered_item = most_ordered_item_data['quantity'].sum()

In [71]:
# Print the total quantity ordered of the most ordered item
print("Total quantity ordered of", most_ordered_item, ":", quantity_ordered_most_ordered_item)

Total quantity ordered of Chicken Bowl : 761

### Step 11. What was the most ordered item in the choice_description column?

In [72]:
most_cd = chipo.groupby('choice_description')['quantity'].sum()

In [73]:
most_cd_sorted = most_cd.sort_values(ascending=False)

In [74]:
most_ordered_cd = most_cd_sorted.index[0]

In [75]:
print("The most ordered choice_desc is:", most_ordered_cd)

The most ordered choice_desc is: [Diet Coke]

### Step 12. How many items were orderd in total?

In [76]:
most_ordered_cd_qty = chipo[chipo['choice_description'] == most_ordered_cd]

In [77]:
qty_most_ordered_cd = most_ordered_cd_qty['quantity'].sum()

In [78]:
print("Total qty ordered of", most_ordered_cd, ":", qty_most_ordered_cd)

Total qty ordered of [Diet Coke] : 159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [79]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [88]:
# Check the types of values in the 'item_price' column
print(chipo['item_price'].apply(type).unique())

[<class 'float'>]

In [89]:
dollarizer = lambda x: float(x[1:-1])

In [90]:
chipo.item_price = chipo.item_price.apply(dollarizer)

TypeError: 'float' object is not subscriptable

#### Step 13.c. Check the item price type

In [91]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [92]:
totalRev = (chipo['quantity']* chipo['item_price']).sum()

In [93]:
print(totalRev)

39237.02

### Step 15. How many orders were made in the period?

In [96]:
orders = chipo.order_id.value_counts().count()

In [97]:
print(orders)

1834

### Step 16. What is the average revenue amount per order?

In [98]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [101]:
order_grouped = chipo.groupby(by=['order_id']).sum()

C:\Users\matth\AppData\Local\Temp\ipykernel_21592\1599489016.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  order_grouped = chipo.groupby(by=['order_id']).sum()

In [102]:
order_grouped.mean()['revenue']

21.39423118865867

In [103]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

C:\Users\matth\AppData\Local\Temp\ipykernel_21592\4095324484.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [104]:
chipo.item_name.value_counts().count()

50